<%- include("../partials/header") %> 
<link rel="stylesheet" href="/form.css">
</head>
<body>
<%- include("../partials/nav") %> 


<div id="form-container" class="container mb-5">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <form id="form"  class="needs-validation"  action="/guest/<%= guest._id %>?_method=PATCH"  novalidate method="post">
                <h1 style="font-family: 'Scheherazade New', serif; text-shadow: 1px 2px 2px rgb(128, 128, 128);">Edit Guest</h1>
                <hr>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" name="FirstName" value="<%= guest.FirstName %> " aria-describedby="emailHelp" required>
                  <div id="emailHelp" class="form-text">Enter your First Name</div>
          <div class="valid-feedback">
            Looks good!!
          </div>
          <div class="invalid-feedback">
            Please fill the required field.
          </div>
                </div>
            
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Last Name</label>
                  <input type="text" class="form-control" name="LastName"  value="<%= guest.LastName %> " id="exampleInputPassword1" required>
              
                  <div id="emailHelp" class="form-text">Enter your Last Name</div>
                  <div class="valid-feedback">
                    Looks good!!
                  </div>
                  <div class="invalid-feedback">
                    Please fill the required field.
                  </div>
                </div>
            
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Phone</label>
                    <input type="text" class="form-control" name="phone"  value="<%= guest.phone %> " id="exampleInputPassword1" required>
                
                    <div id="emailHelp" class="form-text">Enter your Phone Number here</div>
                    <div class="valid-feedback">
                      Looks good!!
                    </div>
                    <div class="invalid-feedback">
                      Please fill the required field.
                    </div>
                  </div>
            
                
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Address</label>
                    <input type="text" class="form-control" name="address"  value="<%= guest.address %> "id="exampleInputPassword1" required>
                    <div id="emailHelp" class="form-text">Enter your Address here</div>
                    <div class="valid-feedback">
                      Looks good!!
                    </div>
                    <div class="invalid-feedback">
                      Please fill the required field.
                    </div>
                
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">City</label>
                    <input type="text" class="form-control" name="city"  value="<%= guest.city %> " id="exampleInputPassword1" required>
                    <div id="emailHelp" class="form-text">Enter your City Name</div>
                    <div class="valid-feedback">
                      Looks good!!
                    </div>
                    <div class="invalid-feedback">
                      Please fill the required field.
                    </div>
                
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Country</label>
                    <input type="text" class="form-control" name="country"  value="<%= guest.country %> " id="exampleInputPassword1" required>
                    <div id="emailHelp" class="form-text">Enter your Country Name</div>
                    <div class="valid-feedback">
                      Looks good!!
                    </div>
                    <div class="invalid-feedback">
                      Please fill the required field.
                    </div>
                
                  </div>
            
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Age</label>
                    <input type="text" class="form-control" name="age"  value="<%= guest.age %> " id="exampleInputPassword1" required>
                 
                    <div id="emailHelp" class="form-text">Enter your Age here</div>
                    <div class="valid-feedback">
                      Looks good!!
                    </div>
                    <div class="invalid-feedback">
                      Please fill the required field.
                    </div>

                  </div>
            
            
                  <div class="mb-3">
                   
            
                    <div class="mb-3">
                        <label for="role" class="form-label">Gender </label>
                        <select class="form-select inp" aria-label="Default select example"  value="<%= guest.gender %> " name="gender"required >
                            <option selected>Choose ...</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <div class="valid-feedback">
                          Looks good!!
                        </div>
                        <div class="invalid-feedback">
                          Please fill the required field.
                        </div>
                  </div>
            
                  
                                   
              
              
                
                
            
                <button type="submit" id="new-user" class="btn btn-secondary">Update</button>
              </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>









<%- include("../partials/footer") %> 