<%- include('../partials/header') %> 
<link rel="stylesheet" href="/guest.css">
</head>
<body>

<%- include('../partials/nav') %> 

<%- include("../partials/flash") %> 

<h3 class="display-3 headTwo">Guests</h3>


<div class="container">

<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <p class="new-guest" ><a style="color:white;text-decoration:none" href="/newGuest">Enter Guest +</a></p>
  </div>
  <div class="col-lg-3"></div>
</div>
</div>


  
    
<div class="container"  >

    <div class="row">
        <% for(let item of guest) {%>
        <div class="col-lg-4"  >
            <div class="card" style="width: 15rem; margin: 30px auto;box-shadow: 2px 2px 4px 4px gray;">
                
                <div class="card-body" >
                    <img src="https://bellfund.ca/wp-content/uploads/2018/03/demo-user.jpg" class="card-img-top" style="height: 150px;width: 200px;border-radius: 50%;"> 
                  <h6 class="card-title text-center" style="padding-top: 5px;"><%= item.FirstName +" "+ item.LastName %> </h6>
                 
                
                  <a href="/details/<%= item._id %>" class="btn btn-outline-info" style="display: flex;justify-content: space-evenly;text-align: end;">More Info</a>
                  
                </div>
              </div>
       
            
          </div>
          <% } %> 
        </div>
    </div>

</div>

 




  <%- include('../partials/footer') %>